<launch>

  <!-- arg name="hostname" default="127.0.0.1" / -->
  <!-- arg name="send_hostname" default="192.168.0.1" / -->
  <arg name="send_hostname" default="127.0.0.1" />
  <arg name="send_port" default="51001" />
  <arg name="recv_hostname" default="127.0.0.1" />
  <arg name="recv_port" default="51001" />

  <node pkg="smc_udp" name="smc_udp_WPsender" type="smc_udp_WPsender.py" output="screen">
    <param name="udp_send_hostname" value="$(arg send_hostname)" />
    <param name="udp_send_port" value="$(arg send_port)" />
  </node>

  <node pkg="smc_udp" name="smc_udp_receiver" type="smc_udp_receiver.py" output="screen">
    <param name="udp_recv_hostname" value="$(arg recv_hostname)" />
    <param name="udp_recv_port" value="$(arg recv_port)" />
  </node>

</launch>
